# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Virtual environment
env/
venv/

# Django stuff:
*.log
local_settings.py
.env

# Database
db.sqlite3

# Media
/media/

# Static files collected by Django
/staticfiles/

# OS Files
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Node modules (if applicable)
node_modules/
